In [1]:
# ! pip install rake_nltk

import pandas as pd
import numpy as np
from rake_nltk import Rake #import rake algorithm 提取關鍵字

from sklearn.metrics.pairwise import cosine_similarity # 計算相似程度會用到
from sklearn.feature_extraction.text import CountVectorizer # 將特徵轉成向量，模型讀的是向量

from ast import literal_eval # 將str轉成 list

In [2]:
credits = pd.read_csv('tmdb_5000_credits.csv')
movies = pd.read_csv('tmdb_5000_movies.csv')

In [3]:
credits.columns = ['id', 'title', 'cast', 'crew']

In [4]:
alldata = movies.merge(credits, on='id')

## alldata中需要的欄位取出來存成dataframe x

In [5]:
x = alldata[['id', 'original_title', 'genres', 'keywords', 'overview', 'original_language', 'cast', 'crew']]

In [6]:
x.head(1)

,id,original_title,genres,keywords,overview,original_language,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",en,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

# 一. 資料清洗

## 將全部的特徵欄位從str轉回原本的list型態
## 用apply方便

In [7]:
# 要觀察的特徵欄位
features = ['keywords', 'genres', 'cast', 'crew']
for feature in features:
    x[feature] = alldata[feature].apply(literal_eval)
    # 全部變成 list

<ipython-input-7-cb080466f5bc>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[feature] = alldata[feature].apply(literal_eval)

## 省略錯誤訊息

In [8]:
import warnings
warnings.filterwarnings('ignore')

## Extract list of genres

In [9]:
def list_genres(x):
    l = [d["name"] for d in x]
    return(l)

x['genres'] = x['genres'].apply(list_genres)

## Extract top 3 cast members 演員
### 找前三位主要演員

In [10]:
def list_cast(x):
    l = [d["name"] for d in x]
    if len(l) > 3:
        l = l[0:3]
    return(l)

# test = ['1', '2', '3', '4', '5']
# test[0:3] 取3個 0 1 2
x['cast'] = x['cast'].apply(list_cast)

## Extract top 5 keywords
### 找出前5個關鍵字

In [11]:
def list_keywords(x):
    l = [d['name'] for d in x]
    if len(l)>5:
        l = l[0:5]
    return(l)
x['keywords'] = x['keywords'].apply(list_keywords)

## Extract director from crew

In [12]:
x['crew'][2]

[{'credit_id': '54805967c3a36829b5002c41',
  'department': 'Sound',
  'gender': 2,
  'id': 153,
  'job': 'Original Music Composer',
  'name': 'Thomas Newman'},
 {'credit_id': '52fe4d22c3a368484e1d8d77',
  'department': 'Directing',
  'gender': 2,
  'id': 39,
  'job': 'Director',
  'name': 'Sam Mendes'},
 {'credit_id': '5677cd99925141691a005333',
  'department': 'Art',
  'gender': 1,
  'id': 8384,
  'job': 'Set Decoration',
  'name': 'Anna Pinnock'},
 {'credit_id': '52fe4d22c3a368484e1d8d8d',
  'department': 'Writing',
  'gender': 2,
  'id': 932,
  'job': 'Screenplay',
  'name': 'John Logan'},
 {'credit_id': '562fc9bb92514129fe0006b4',
  'department': 'Writing',
  'gender': 2,
  'id': 932,
  'job': 'Story',
  'name': 'John Logan'},
 {'credit_id': '5654d41c92514145c3000373',
  'department': 'Art',
  'gender': 2,
  'id': 4248,
  'job': 'Production Design',
  'name': 'Dennis Gassner'},
 {'credit_id': '52fe4d22c3a368484e1d8d71',
  'department': 'Writing',
  'gender': 2,
  'id': 9856,
  'job': 'Characters',
  'name': 'Ian Fleming'},
 {'credit_id': '54805989c3a36829ae0022d8',
  'department': 'Editing',
  'gender': 0,
  'id': 3904,
  'job': 'Editor',
  'name': 'Lee Smith'},
 {'credit_id': '5677df82c3a3681683008748',
  'department': 'Sound',
  'gender': 2,
  'id': 7538,
  'job': 'Music Editor',
  'name': 'Bill Bernstein'},
 {'credit_id': '5720e370c3a368117e00045b',
  'department': 'Production',
  'gender': 2,
  'id': 8784,
  'job': 'Co-Producer',
  'name': 'Daniel Craig'},
 {'credit_id': '5522fdd09251416d4a0024b6',
  'department': 'Costume & Make-Up',
  'gender': 1,
  'id': 11227,
  'job': 'Costume Design',
  'name': 'Jany Temime'},
 {'credit_id': '5677cc9ac3a368167c0089b5',
  'department': 'Production',
  'gender': 1,
  'id': 10496,
  'job': 'Casting',
  'name': 'Debbie McWilliams'},
 {'credit_id': '52fe4d22c3a368484e1d8d7d',
  'department': 'Production',
  'gender': 1,
  'id': 10666,
  'job': 'Producer',
  'name': 'Barbara Broccoli'},
 {'credit_id': '5720e3afc3a368117e00046a',
  'department': 'Production',
  'gender': 0,
  'id': 11268,
  'job': 'Line Producer',
  'name': 'Roberto Malerba'},
 {'credit_id': '5677df58c3a368167c008c82',
  'department': 'Sound',
  'gender': 0,
  'id': 40827,
  'job': 'Music Editor',
  'name': 'Peter Clarke'},
 {'credit_id': '5677dd1ec3a36816890085d3',
  'department': 'Sound',
  'gender': 0,
  'id': 14764,
  'job': 'Sound Designer',
  'name': 'Christopher Assells'},
 {'credit_id': '566046b9c3a36875f400323a',
  'department': 'Sound',
  'gender': 0,
  'id': 14765,
  'job': 'Supervising Sound Editor',
  'name': 'Per Hallberg'},
 {'credit_id': '5677ccab925141691a00530f',
  'department': 'Production',
  'gender': 0,
  'id': 36108,
  'job': 'Casting',
  'name': 'Nicole Schmied'},
 {'credit_id': '5677cfe4c3a36816850087d2',
  'department': 'Production',
  'gender': 0,
  'id': 36108,
  'job': 'Casting Associate',
  'name': 'Nicole Schmied'},
 {'credit_id': '562fc984c3a3681b5400e16f',
  'department': 'Writing',
  'gender': 2,
  'id': 10783,
  'job': 'Screenplay',
  'name': 'Robert Wade'},
 {'credit_id': '562fc9cec3a3681b4b00d168',
  'department': 'Writing',
  'gender': 2,
  'id': 10783,
  'job': 'Story',
  'name': 'Robert Wade'},
 {'credit_id': '562fc976c3a3681b5c00dd64',
  'department': 'Writing',
  'gender': 0,
  'id': 10782,
  'job': 'Screenplay',
  'name': 'Neal Purvis'},
 {'credit_id': '562fc9d79251414ad800c103',
  'department': 'Writing',
  'gender': 0,
  'id': 10782,
  'job': 'Story',
  'name': 'Neal Purvis'},
 {'credit_id': '5720e61d9251414235000477',
  'department': 'Production',
  'gender': 2,
  'id': 10876,
  'job': 'Executive Producer',
  'name': 'Callum McDougall'},
 {'credit_id': '562fc9a89251414ad800c0fe',
  'department': 'Writing',
  'gender': 2,
  'id': 21339,
  'job': 'Screenplay',
  'name': 'Jez Butterworth'},
 {'credit_id': '570bd7f2c3a36802a9000412',
  'department': 'Art',
  'gender': 0,
  'id': 23425,
  'job': 'Supervising Art Director',
  'name': 'Chris Lowe'},
 {'credit_id': '5677e45ac3a368168b0084fd',
  'department': 'Art',
  'gender': 0,
  'id': 23491,
  'job': 'Assistant Art Director',
  'name': 'Roxana Alexandru '},
 {'credit_id': '5677e29c925141691a00561c',
  'department': 'Crew',
  'gender': 0,
  'id': 23774,
  'job': 'Makeup Effects',
  'name': 'Jo Grover'},
 {'credit_id': '5677cf8492514179d20088ae',
  'department': 'Production',
  'gender': 2,
  'id': 10907,
  'job': 'Casting',
  'name': 'Stéphane Foenkinos'},
 {'credit_id': '5677d7b192514179d20089c6',
  'department': 'Camera',
  'gender': 2,
  'id': 61851,
  'job': 'Camera Operator',
  'name': 'Lorenzo Senatore'},
 {'credit_id': '5720e6f7925141423000046b',
  'department': 'Production',
  'gender': 0,
  'id': 64000,
  'job': 'Line Producer',
  'name': 'Wolfgang Ramml'},
 {'credit_id': '5677dfabc3a368168000899f',
  'department': 'Sound',
  'gender': 2,
  'id': 66941,
  'job': 'Orchestrator',
  'name': 'J.A.C. Redford'},
 {'credit_id': '5720e72e92514142320007fc',
  'department': 'Production',
  'gender': 0,
  'id': 81517,
  'job': 'Associate Producer',
  'name': 'Gregg Wilson'},
 {'credit_id': '52fe4d22c3a368484e1d8d83',
  'department': 'Production',
  'gender': 2,
  'id': 69678,
  'job': 'Producer',
  'name': 'Michael G. Wilson'},
 {'credit_id': '5720e325c3a368118100043e',
  'department': 'Production',
  'gender': 0,
  'id': 77511,
  'job': 'Line Producer',
  'name': 'Zakaria Alaoui'},
 {'credit_id': '548059799251416e7e00265c',
  'department': 'Camera',
  'gender': 0,
  'id': 74401,
  'job': 'Director of Photography',
  'name': 'Hoyte van Hoytema'},
 {'credit_id': '5677cef792514179db00904d',
  'department': 'Crew',
  'gender': 0,
  'id': 239885,
  'job': 'Special Effects Coordinator',
  'name': 'Franco Ragusa'},
 {'credit_id': '5677d7e992514179e7008654',
  'department': 'Camera',
  'gender': 0,
  'id': 937946,
  'job': 'Camera Operator',
  'name': 'Peter Field'},
 {'credit_id': '5677cd21c3a3681680008700',
  'department': 'Art',
  'gender': 2,
  'id': 979698,
  'job': 'Art Direction',
  'name': 'Neal Callow'},
 {'credit_id': '5677cd5a92514179e30086fb',
  'department': 'Art',
  'gender': 2,
  'id': 986687,
  'job': 'Art Direction',
  'name': 'Mark Harris'},
 {'credit_id': '5678090392514179e1009958',
  'department': 'Crew',
  'gender': 0,
  'id': 1024842,
  'job': 'Visual Effects Editor',
  'name': 'Billy A. Campbell'},
 {'credit_id': '5720e6749251414240000470',
  'department': 'Production',
  'gender': 0,
  'id': 1026247,
  'job': 'Co-Producer',
  'name': 'Stacy Perskie'},
 {'credit_id': '56780a2292514179dd008d18',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1029804,
  'job': 'Visual Effects Producer',
  'name': 'Laura Schultz'},
 {'credit_id': '5677e174925141691a0055f1',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1087452,
  'job': 'Key Hair Stylist',
  'name': 'Mari Paz Robles'},
 {'credit_id': '5677e0cf9251417845001631',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1099281,
  'job': 'Hairstylist',
  'name': 'Gerardo Perez Arreola'},
 {'credit_id': '5677d73b92514179dd008471',
  'department': 'Camera',
  'gender': 0,
  'id': 1118711,
  'job': 'Camera Operator',
  'name': 'Kenji Katori'},
 {'credit_id': '5677cd3a92514179d2008852',
  'department': 'Art',
  'gender': 0,
  'id': 1296445,
  'job': 'Art Direction',
  'name': 'Ben Collins'},
 {'credit_id': '5677cfc3c3a3681680008755',
  'department': 'Production',
  'gender': 0,
  'id': 1305251,
  'job': 'Casting Associate',
  'name': 'Tusse Lande'},
 {'credit_id': '5677e24f92514179e70087da',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1315700,
  'job': 'Makeup Artist',
  'name': 'Donald Mowat'},
 {'credit_id': '5677d622c3a368167c008b25',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1319160,
  'job': 'Costume Supervisor',
  'name': 'Ken Crouch'},
 {'credit_id': '5677cd0ec3a368168e008f75',
  'department': 'Art',
  'gender': 0,
  'id': 1335539,
  'job': 'Art Direction',
  'name': 'Andrew Bennett'},
 {'credit_id': '56780833925141691a005c2f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1338241,
  'job': 'Visual Effects Coordinator',
  'name': 'Sean McGrath'},
 {'credit_id': '5677dcc7c3a36816830086cc',
  'department': 'Sound',
  'gender': 0,
  'id': 1338372,
  'job': 'Foley',
  'name': "Dan O'Connell"},
 {'credit_id': '56780ac692514179dd008d31',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1341741,
  'job': 'Visual Effects Supervisor',
  'name': 'Mark Curtis'},
 {'credit_id': '5677dd9fc3a368168b0083f0',
  'department': 'Sound',
  'gender': 2,
  'id': 1341858,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gregg Rudloff'},
 {'credit_id': '566047029251412204002337',
  'department': 'Directing',
  'gender': 0,
  'id': 1342669,
  'job': 'Script Supervisor',
  'name': 'Jayne-Ann Tenggren'},
 {'credit_id': '5720e713925141423000046d',
  'department': 'Production',
  'gender': 0,
  'id': 1342669,
  'job': 'Associate Producer',
  'name': 'Jayne-Ann Tenggren'},
 {'credit_id': '5677dd8792514179db009235',
  'department': 'Sound',
  'gender': 0,
  'id': 1345595,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Scott Millan'},
 {'credit_id': '5677def192514179e700875b',
  'department': 'Directing',
  'gender': 0,
  'id': 1358025,
  'job': 'Script Supervisor',
  'name': 'Nicoletta Mani'},
 {'credit_id': '5677dcb0925141691a00552a',
  'department': 'Sound',
  'gender': 0,
  'id': 1367493,
  'job': 'Foley',
  'name': 'John T. Cucci'},
 {'credit_id': '5677d7ff92514179e300884b',
  'department': 'Camera',
  'gender': 0,
  'id': 1377503,
  'job': 'Camera Operator',
  'name': 'Sebastian Meuschel'},
 {'credit_id': '5677d94192514179d20089ff',
  'department': 'Camera',
  'gender': 2,
  'id': 1388897,
  'job': 'Steadicam Operator',
  'name': 'Julian Morson'},
 {'credit_id': '5677dce5c3a36816830086d3',
  'department': 'Sound',
  'gender': 0,
  'id': 1389614,
  'job': 'Foley',
  'name': 'Peter Michael Sullivan'},
 {'credit_id': '56780a5a92514179e300908d',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1391691,
  'job': 'Visual Effects Producer',
  'name': 'Ken Dailey'},
 {'credit_id': '5677dd38c3a368167c008c21',
  'department': 'Sound',
  'gender': 0,
  'id': 1392083,
  'job': 'Sound Designer',
  'name': 'Ann Scibelli'},
 {'credit_id': '5677d7cd92514179db009178',
  'department': 'Camera',
  'gender': 0,
  'id': 1392246,
  'job': 'Camera Operator',
  'name': 'Clive Jackson'},
 {'credit_id': '5677de6192514179dd008566',
  'department': 'Directing',
  'gender': 0,
  'id': 1392661,
  'job': 'Script Supervisor',
  'name': 'Susie Jones'},
 {'credit_id': '5677d98fc3a3681685008904',
  'department': 'Camera',
  'gender': 2,
  'id': 1392718,
  'job': 'Still Photographer',
  'name': 'Jasin Boland'},
 {'credit_id': '5677cdd8c3a368168b0081e1',
  'department': 'Art',
  'gender': 0,
  'id': 1394117,
  'job': 'Art Department Coordinator',
  'name': 'Jennifer Lewicki'},
 {'credit_id': '5677e58cc3a3681685008adb',
  'department': 'Art',
  'gender': 0,
  'id': 1398089,
  'job': 'Greensman',
  'name': 'Ian Whiteford'},
 {'credit_id': '56780a7592514179db0099c4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1398100,
  'job': 'Visual Effects Producer',
  'name': 'Kilou Picard'},
 {'credit_id': '5677d8ba92514179d20089f0',
  'department': 'Camera',
  'gender': 0,
  'id': 1399071,
  'job': 'Helicopter Camera',
  'name': 'Hans Bjerno'},
 {'credit_id': '5677dd02c3a368167a0091a2',
  'department': 'Editing',
  'gender': 2,
  'id': 1399862,
  'job': 'Dialogue Editor',
  'name': 'Daniel Saxlid'},
 {'credit_id': '5677e2e1c3a368167c008d1a',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1401126,
  'job': 'Wigmaker',
  'name': 'Alex Rouse'},
 {'credit_id': '5678096bc3a368167c0093d2',
  'department': 'Crew',
  'gender': 0,
  'id': 1401147,
  'job': 'Visual Effects Editor',
  'name': 'Anik Seguin'},
 {'credit_id': '5677dc90c3a368167a009190',
  'department': 'Sound',
  'gender': 0,
  'id': 1401631,
  'job': 'ADR & Dubbing',
  'name': 'Michelle Pazer'},
 {'credit_id': '5677d75ac3a368167a0090e9',
  'department': 'Camera',
  'gender': 2,
  'id': 1403411,
  'job': 'Camera Operator',
  'name': 'Lucas Bielan'},
 {'credit_id': '566046d7c3a36875e900359d',
  'department': 'Sound',
  'gender': 0,
  'id': 1404212,
  'job': 'Supervising Sound Editor',
  'name': 'Karen Baker Landers'},
 {'credit_id': '5677dd519251417845001588',
  'department': 'Sound',
  'gender': 0,
  'id': 1404217,
  'job': 'Sound Designer',
  'name': 'Peter Staubli'},
 {'credit_id': '5677d8d192514179e1009100',
  'department': 'Camera',
  'gender': 0,
  'id': 1404244,
  'job': 'Helicopter Camera',
  'name': 'John Marzano'},
 {'credit_id': '5677d927c3a36816850088f2',
  'department': 'Camera',
  'gender': 0,
  'id': 1405241,
  'job': 'Helicopter Camera',
  'name': 'Adam Dale'},
 {'credit_id': '5677dff292514179e100921a',
  'department': 'Editing',
  'gender': 0,
  'id': 1408363,
  'job': 'First Assistant Editor',
  'name': 'Emma McCleave'},
 {'credit_id': '5677e191925141784500164f',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1409821,
  'job': 'Makeup Designer',
  'name': 'Naomi Donne'},
 {'credit_id': '5677e2b5c3a368168e0092aa',
  'department': 'Crew',
  'gender': 0,
  'id': 1411323,
  'job': 'Makeup Effects',
  'name': 'Susan Howard'},
 {'credit_id': '5677d869c3a36816850088e3',
  'department': 'Lighting',
  'gender': 0,
  'id': 1414096,
  'job': 'Gaffer',
  'name': 'David Smith'},
 {'credit_id': '56780712c3a368168b008ace',
  'department': 'Crew',
  'gender': 0,
  'id': 1415157,
  'job': 'CG Supervisor',
  'name': 'Joel Green'},
 {'credit_id': '567806ba92514179e10098ee',
  'department': 'Crew',
  'gender': 0,
  'id': 1425484,
  'job': 'CG Supervisor',
  'name': 'Laurent Hugueniot'},
 {'credit_id': '56780a92c3a36816850090af',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1425488,
  'job': 'Visual Effects Producer',
  'name': 'Tim Keene'},
 {'credit_id': '5677e087c3a368167a00922b',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1425971,
  'job': 'Hair Designer',
  'name': 'Zoe Tahir'},
 {'credit_id': '567808eb92514179e300904a',
  'department': 'Crew',
  'gender': 0,
  'id': 1428902,
  'job': 'Visual Effects Editor',
  'name': 'Conor Byrne'},
 {'credit_id': '5677e22d925141691a00560d',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1439128,
  'job': 'Makeup Artist',
  'name': 'Charlotte Hayward'},
 {'credit_id': '5677cf3fc3a36816850087c1',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1442137,
  'job': 'Animation Supervisor',
  'name': 'Catherine Mullan'},
 {'credit_id': '56780988c3a3681683008e99',
  'department': 'Crew',
  'gender': 0,
  'id': 1447617,
  'job': 'Visual Effects Editor',
  'name': 'Crystal Hadcroft'},
 {'credit_id': '5677e0ec925141691a0055d6',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1458416,
  'job': 'Hairstylist',
  'name': 'Francesca Crowder'},
 {'credit_id': '5677cf2892514179dd008356',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1459878,
  'job': 'Animation Director',
  'name': 'Marlene Chazot'},
 {'credit_id': '5678091d92514179db009985',
  'department': 'Crew',
  'gender': 0,
  'id': 1459899,
  'job': 'Visual Effects Editor',
  'name': 'Struan Farquhar'},
 {'credit_id': '56780731c3a3681680009013',
  'department': 'Crew',
  'gender': 0,
  'id': 1459925,
  'job': 'CG Supervisor',
  'name': 'Daniel Pastore'},
 {'credit_id': '5677d969c3a368168b00834a',
  'department': 'Camera',
  'gender': 0,
  'id': 1470167,
  'job': 'Still Photographer',
  'name': 'Jonathan Olley'},
 {'credit_id': '5677e48dc3a368167a0092c8',
  'department': 'Art',
  'gender': 0,
  'id': 1472773,
  'job': 'Assistant Art Director',
  'name': 'Sami Gaidi'},
 {'credit_id': '5751eed59251416b60000637',
  'department': 'Production',
  'gender': 2,
  'id': 1477203,
  'job': 'Co-Producer',
  'name': 'Luca Marco Paracels'},
 {'credit_id': '5677e157c3a36816800089ee',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1480629,
  'job': 'Key Hair Stylist',
  'name': 'Luca Vannella'},
 {'credit_id': '56780b0e925141691a005c8f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1483141,
  'job': 'Visual Effects Supervisor',
  'name': 'Stuart Bullen'},
 {'credit_id': '582f29fa925141022e003a74',
  'department': 'Sound',
  'gender': 0,
  'id': 1494824,
  'job': 'Sound Effects Editor',
  'name': 'Russell Edwards'},
 {'credit_id': '5677d63dc3a368167a0090b4',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1510431,
  'job': 'Costume Supervisor',
  'name': 'Stefano De Nardis'},
 {'credit_id': '5677d79992514179d20089c2',
  'department': 'Camera',
  'gender': 0,
  'id': 1512767,
  'job': 'Camera Operator',
  'name': 'Luis David Sansans'},
 {'credit_id': '5677d609c3a368168000881a',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1545912,
  'job': 'Costume Supervisor',
  'name': 'Abderrahim Benkhayi'},
 {'credit_id': '5677d66cc3a368167a0090be',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1545913,
  'job': 'Set Costumer',
  'name': 'Rachid Aadassi'},
 {'credit_id': '5677da26c3a368167a009139',
  'department': 'Camera',
  'gender': 0,
  'id': 1545995,
  'job': 'Additional Camera',
  'name': 'Carlos De Carvalho'},
 {'credit_id': '5677d5bec3a368167c008b13',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1546747,
  'job': 'Assistant Costume Designer',
  'name': 'Vivienne Jones'},
 {'credit_id': '5677dfcac3a368168300875b',
  'department': 'Editing',
  'gender': 0,
  'id': 1548406,
  'job': 'Digital Intermediate',
  'name': 'Kim Honeyman'},
 {'credit_id': '5677e105c3a368168b00846d',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1550637,
  'job': 'Hairstylist',
  'name': 'Kathryn Fa'},
 {'credit_id': '5677ce0c9251417845001384',
  'department': 'Crew',
  'gender': 0,
  'id': 1551770,
  'job': 'Carpenter',
  'name': 'Paul Duff'},
 {'credit_id': '5677ce5192514179e300871b',
  'department': 'Crew',
  'gender': 0,
  'id': 1551771,
  'job': 'Property Master',
  'name': 'Ben Wilkinson'},
 {'credit_id': '5677cec292514179dd00834d',
  'department': 'Crew',
  'gender': 0,
  'id': 1551772,
  'job': 'Special Effects Coordinator',
  'name': 'Lynne Corbould'},
 {'credit_id': '5677cf57c3a368168e008fcc',
  'department': 'Production',
  'gender': 0,
  'id': 1551773,
  'job': 'Casting',
  'name': 'Amal El-Farfachi'},
 {'credit_id': '5677cf99c3a368168b00821d',
  'department': 'Production',
  'gender': 0,
  'id': 1551774,
  'job': 'Casting Associate',
  'name': 'Celebrity Booker'},
 {'credit_id': '5677cfadc3a368167c008a30',
  'department': 'Production',
  'gender': 0,
  'id': 1551775,
  'job': 'Casting Associate',
  'name': 'Lucy Hellier'},
 {'credit_id': '5677d5a392514179db00911d',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1551777,
  'job': 'Assistant Costume Designer',
  'name': 'Richard Davies'},
 {'credit_id': '5677dd6bc3a368168b0083e2',
  'department': 'Sound',
  'gender': 0,
  'id': 1551789,
  'job': 'Sound Effects Editor',
  'name': 'Ando Johnson'},
 {'credit_id': '5677de2dc3a3681683008713',
  'department': 'Crew',
  'gender': 0,
  'id': 1551791,
  'job': 'Armorer',
  'name': 'Greg Corke'},
 {'credit_id': '5677de8a92514179e10091d9',
  'department': 'Production',
  'gender': 0,
  'id': 1551796,
  'job': 'Researcher',
  'name': 'Amin Rharda'},
 {'credit_id': '5677dea9c3a368168e00921c',
  'department': 'Crew',
  'gender': 0,
  'id': 1551797,
  'job': 'Armorer',
  'name': 'Joss Skottowe'},
 {'credit_id': '5677e11c92514179dd0085e3',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1551798,
  'job': 'Hairstylist',
  'name': 'Joseph Koniak'},
 {'credit_id': '5677e1b19251417845001657',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1551800,
  'job': 'Makeup Artist',
  'name': 'Thalía Echeveste'},
 {'credit_id': '5677e1c7c3a368167c008cd8',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1551801,
  'job': 'Makeup Artist',
  'name': 'Charlie Hounslow'},
 {'credit_id': '5677e1e592514179d2008b7b',

In [13]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan
x['director'] = x['crew'].apply(get_director)

## drop the other column crew

In [14]:
x = x.drop('crew', axis=1)

In [15]:
x.head(5)

,id,original_title,genres,keywords,overview,original_language,cast,director
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",en,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",en,"[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi6]",A cryptic message from Bond’s past sends him o...,en,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",Sam Mendes
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,en,"[Christian Bale, Michael Caine, Gary Oldman]",Christopher Nolan
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",en,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",Andrew Stanton

## Clean features of spaces and lowercase all to ensure uniques

In [16]:
features = ['keywords', 'genres', 'cast', 'director']

In [17]:
def clean_feat(x):
    if isinstance(x, list):
        return [i.lower().replace(' ','') for i in x]
    else:
        if isinstance(x, str):
            return x.lower().replace(" ", "")
        else:
            return ''
        
for i in features:
    x[i] = x[i].apply(clean_feat)

In [18]:
x.head(1)

,id,original_title,genres,keywords,overview,original_language,cast,director
0,19995,Avatar,"[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...","In the 22nd century, a paraplegic Marine is di...",en,"[samworthington, zoesaldana, sigourneyweaver]",jamescameron

In [19]:
x['genres']

0       [action, adventure, fantasy, sciencefiction]
1                       [adventure, fantasy, action]
2                         [action, adventure, crime]
3                   [action, crime, drama, thriller]
4                [action, adventure, sciencefiction]
                            ...
4798                       [action, crime, thriller]
4799                               [comedy, romance]
4800               [comedy, drama, romance, tvmovie]
4801                                              []
4802                                   [documentary]
Name: genres, Length: 4803, dtype: object

In [20]:
x['genres']

0       [action, adventure, fantasy, sciencefiction]
1                       [adventure, fantasy, action]
2                         [action, adventure, crime]
3                   [action, crime, drama, thriller]
4                [action, adventure, sciencefiction]
                            ...
4798                       [action, crime, thriller]
4799                               [comedy, romance]
4800               [comedy, drama, romance, tvmovie]
4801                                              []
4802                                   [documentary]
Name: genres, Length: 4803, dtype: object

In [21]:
x['cast']

0        [samworthington, zoesaldana, sigourneyweaver]
1           [johnnydepp, orlandobloom, keiraknightley]
2            [danielcraig, christophwaltz, léaseydoux]
3            [christianbale, michaelcaine, garyoldman]
4          [taylorkitsch, lynncollins, samanthamorton]
                             ...
4798    [carlosgallardo, jaimedehoyos, petermarquardt]
4799         [edwardburns, kerrybishé, marshadietlein]
4800           [ericmabius, kristinbooth, crystallowe]
4801            [danielhenney, elizacoupe, billpaxton]
4802    [drewbarrymore, brianherzlinger, coreyfeldman]
Name: cast, Length: 4803, dtype: object

In [22]:
x['director']

0           jamescameron
1          goreverbinski
2              sammendes
3       christophernolan
4          andrewstanton
              ...
4798     robertrodriguez
4799         edwardburns
4800          scottsmith
4801          danielhsia
4802     brianherzlinger
Name: director, Length: 4803, dtype: object

In [23]:
# aa = [{'credit_id': '54805967c3a36829b5002c41',
#   'department': 'Sound',
#   'gender': 2,
#   'id': 153,
#   'job': 'Original Music Composer',
#   'name': 'Thomas Newman'},
#  {'credit_id': '52fe4d22c3a368484e1d8d77',
#   'department': 'Directing',
#   'gender': 2,
#   'id': 39,
#   'job': 'Director',
#   'name': 'Sam Mendes'}]

In [24]:
# for x in aa:
#     print(x['job'])
#     print(type(x))
#     print('==')

## 處理遺漏值

In [25]:
missing = x.columns[x.isnull().any()]

In [26]:
#使用isnull方法計算每個欄位的缺值
#並且用sum方法來做每個欄位總缺值數量的計算
#此方式與info相反，info計算無缺值的數目，此方法計算缺值數目
x.isnull()

,id,original_title,genres,keywords,overview,original_language,cast,director
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
4798,False,False,False,False,False,False,False,False
4799,False,False,False,False,False,False,False,False
4800,False,False,False,False,False,False,False,False
4801,False,False,False,False,False,False,False,False
4802,False,False,False,False,False,False,False,False

In [27]:
x.isnull().sum().to_frame()

                   0
id                 0
original_title     0
genres             0
keywords           0
overview           3
original_language  0
cast               0
director           0

In [28]:
x['overview'] = x['overview'].fillna('')
# 用空字串''填補遺漏值
# https://ithelp.ithome.com.tw/articles/10201106

In [29]:
x.isnull().sum().to_frame()

                   0
id                 0
original_title     0
genres             0
keywords           0
overview           0
original_language  0
cast               0
director           0

# 二. Rake Algorithm 提取關鍵字

In [30]:
# 創建一個空的plotwords欄位 
x['plotwords'] = ''

In [31]:
def get_keywords(x):
    plot = x
    rake = Rake()
    rake.extract_keywords_from_text(plot)
    scores = rake.get_word_degrees()
    return(list(scores.keys()))

x['plotwords'] = x['overview'].apply(get_keywords)

In [32]:
x['plotwords']

0       [moon, pandora, paraplegic, marine, following,...
1       [headed, quite, long, believed, come, back, el...
2       [secret, service, alive, layers, bond, ’, unco...
3       [batman, assumes, responsibility, encounters, ...
4       [epic, conflict, former, military, captain, su...
                              ...
4798    [carry, chase, el, mariachi, town, carries, gu...
4799    [newlywed, couple, honeymoon, upended, respect...
4800    [delivered, mail, detectives, determination, d...
4801    [save, career, legal, mess, help, wonders, bea...
4802    [drew, barrymore, old, aspiring, filmmaker, as...
Name: plotwords, Length: 4803, dtype: object

In [33]:
# scores 的樣子
# scores.keys() => moon pandora alien civilization ... mission

# {'dispatched': 1,
#              'moon': 2,
#              'pandora': 2,
#              'alien': 2,
#              'civilization': 2,
#              'paraplegic': 2,
#              'marine': 2,
#              '22nd': 2,
#              'century': 2,
#              'following': 2,
#              'orders': 2,
#              'becomes': 2,
#              'torn': 2,
#              'protecting': 1,
#              'unique': 2,
#              'mission': 2})


# plot = df['overview'][0]
# rake = Rake()
# rake.extract_keywords_from_text(plot)
# scores = rake.get_word_degrees()
# scores
# scores.keys()
# scores.values()

# https://ithelp.ithome.com.tw/articles/10205081 字典用法

In [34]:
x.head()

,id,original_title,genres,keywords,overview,original_language,cast,director,plotwords
0,19995,Avatar,"[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...","In the 22nd century, a paraplegic Marine is di...",en,"[samworthington, zoesaldana, sigourneyweaver]",jamescameron,"[moon, pandora, paraplegic, marine, following,..."
1,285,Pirates of the Caribbean: At World's End,"[adventure, fantasy, action]","[ocean, drugabuse, exoticisland, eastindiatrad...","Captain Barbossa, long believed to be dead, ha...",en,"[johnnydepp, orlandobloom, keiraknightley]",goreverbinski,"[headed, quite, long, believed, come, back, el..."
2,206647,Spectre,"[action, adventure, crime]","[spy, basedonnovel, secretagent, sequel, mi6]",A cryptic message from Bond’s past sends him o...,en,"[danielcraig, christophwaltz, léaseydoux]",sammendes,"[secret, service, alive, layers, bond, ’, unco..."
3,49026,The Dark Knight Rises,"[action, crime, drama, thriller]","[dccomics, crimefighter, terrorist, secretiden...",Following the death of District Attorney Harve...,en,"[christianbale, michaelcaine, garyoldman]",christophernolan,"[batman, assumes, responsibility, encounters, ..."
4,49529,John Carter,"[action, adventure, sciencefiction]","[basedonnovel, mars, medallion, spacetravel, p...","John Carter is a war-weary, former military ca...",en,"[taylorkitsch, lynncollins, samanthamorton]",andrewstanton,"[epic, conflict, former, military, captain, su..."

## 合併特徵 join()
### https://www.gushiciku.cn/pl/plIa/zh-tw

In [35]:
# 建立一個空的資料表
df_keys = pd.DataFrame()

In [36]:
df_keys['title'] = x['original_title']

In [37]:
df_keys.head(1)

    title
0  Avatar

In [38]:
df_keys['keywords'] = ''

In [39]:
df_keys.head(1)

    title keywords
0  Avatar

In [40]:
def bag_words(x):
    return(' '.join(x['genres']) + ' '+ ' '.join(x['keywords']) 
           + ' '+' '.join(x['cast'])+ ' '+' '.join(x['director'])
           +' '+' '.join(x['plotwords']))
df_keys['keywords'] = x.apply(bag_words, axis = 1)

In [41]:
df_keys.head(5)

,title,keywords
0,Avatar,action adventure fantasy sciencefiction cultur...
1,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drugabuse exoti...
2,Spectre,action adventure crime spy basedonnovel secret...
3,The Dark Knight Rises,action crime drama thriller dccomics crimefigh...
4,John Carter,action adventure sciencefiction basedonnovel m...

In [42]:
'''
 推薦模型只能讀取並比較向量，
 因此我們需要將 Bag_of_words 列使用 CountVectorizer 轉換為向量表示，
 這是一個簡單的頻率計數器。一旦我們得到了所有單詞的計數矩陣， 
 就可以利用 cosine_similarity 函式來比較電影的相似性。
'''

'\n 推薦模型只能讀取並比較向量，\n 因此我們需要將 Bag_of_words 列使用 CountVectorizer 轉換為向量表示，\n 這是一個簡單的頻率計數器。一旦我們得到了所有單詞的計數矩陣， \n 就可以利用 cosine_similarity 函式來比較電影的相似性。\n'

In [43]:
# create count matrix 
# 將文件的詞語轉換為詞頻矩陣
cv = CountVectorizer()

In [44]:
cv

CountVectorizer()

In [45]:
cv_mx = cv.fit_transform(df_keys['keywords'])

In [46]:
cv_mx

<4803x29762 sparse matrix of type '<class 'numpy.int64'>'
	with 178305 stored elements in Compressed Sparse Row format>

In [47]:
# create cosine similarity matrix
cosine_sim = cosine_similarity(cv_mx, cv_mx)

In [48]:
cosine_sim[0]

array([1.        , 0.10527936, 0.06299408, ..., 0.        , 0.        ,
       0.        ])

In [49]:
cosine_sim

array([[1.        , 0.10527936, 0.06299408, ..., 0.        , 0.        ,
        0.        ],
       [0.10527936, 1.        , 0.09284767, ..., 0.02438299, 0.        ,
        0.        ],
       [0.06299408, 0.09284767, 1.        , ..., 0.02188441, 0.        ,
        0.        ],
       ...,
       [0.        , 0.02438299, 0.02188441, ..., 1.        , 0.05938557,
        0.03959038],
       [0.        , 0.        , 0.        , ..., 0.05938557, 1.        ,
        0.06818182],
       [0.        , 0.        , 0.        , ..., 0.03959038, 0.06818182,
        1.        ]])

In [50]:
# 把array轉換成dataframe
cosine_sim_df = pd.DataFrame(cosine_sim)
cosine_sim_df

,0,1,2,3,4,5,6,7,8,9,...,4793,4794,4795,4796,4797,4798,4799,4800,4801,4802
0,1.000000,0.105279,0.062994,0.052414,0.116642,0.118056,0.024001,0.154303,0.070186,0.078621,...,0.000000,0.000000,0.023440,0.055728,0.000000,0.029514,0.000000,0.000000,0.000000,0.000000
1,0.105279,1.000000,0.092848,0.025751,0.085960,0.145004,0.023583,0.126350,0.068966,0.077254,...,0.000000,0.000000,0.023033,0.000000,0.000000,0.029001,0.000000,0.024383,0.000000,0.000000
2,0.062994,0.092848,1.000000,0.046225,0.077152,0.052058,0.021167,0.136083,0.061898,0.046225,...,0.034752,0.000000,0.000000,0.000000,0.022076,0.052058,0.000000,0.021884,0.000000,0.000000
3,0.052414,0.025751,0.046225,1.000000,0.042796,0.043315,0.052835,0.056614,0.025751,0.115385,...,0.028916,0.025751,0.017201,0.040893,0.018368,0.064972,0.000000,0.054627,0.041812,0.062718
4,0.116642,0.085960,0.077152,0.042796,1.000000,0.048196,0.039193,0.146986,0.028653,0.085592,...,0.032174,0.000000,0.000000,0.022751,0.000000,0.024098,0.000000,0.020261,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,0.029514,0.029001,0.052058,0.064972,0.024098,0.024390,0.039668,0.063758,0.058001,0.043315,...,0.000000,0.029001,0.000000,0.023027,0.041371,1.000000,0.000000,0.000000,0.023544,0.000000
4799,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.053606,0.000000,0.000000,0.000000,0.000000,1.000000,0.075810,0.043519,0.000000
4800,0.000000,0.024383,0.021884,0.054627,0.020261,0.020507,0.000000,0.000000,0.048766,0.036418,...,0.054759,0.024383,0.032573,0.038720,0.000000,0.000000,0.075810,1.000000,0.059386,0.039590
4801,0.000000,0.000000,0.000000,0.041812,0.000000,0.023544,0.019146,0.000000,0.055989,0.020906,...,0.000000,0.000000,0.000000,0.022228,0.000000,0.023544,0.043519,0.059386,1.000000,0.068182
4802,0.000000,0.000000,0.000000,0.062718,0.000000,0.023544,0.019146,0.000000,0.055989,0.062718,...,0.000000,0.000000,0.000000,0.022228,0.000000,0.000000,0.000000,0.039590,0.068182,1.000000

## 三. recommend_movie

In [87]:
def recommend_movie(title,n = 10,cosine_sim = cosine_sim):
    movies = []
    if title not in indices.index:
        print('the movie not in our database')
        return
    else:
        idx = indices[title] #84
        
    scores = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    top_n_idx = list(scores.iloc[1:n].index)        
    return df_keys['title'].iloc[top_n_idx]

## 拆解recommend_movie

In [91]:
# n 預設是10部
# 找出Ocean's Twelve的前5部最相似電影
recommend_movie("Ocean's Twelve", n = 5)

433               RED 2
388      Ocean's Eleven
519      Now You See Me
398    Ocean's Thirteen
Name: title, dtype: object

In [51]:
# create list of indices for later matching
indices = pd.Series(df_keys.index, index = df_keys['title'])
indices

title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [52]:
name = 'Avatar'
if name not in indices.index:
    print('movie not in database')
else:
    i = indices[name]
    print(i)

0

In [53]:
scores = pd.Series(cosine_sim[i]).sort_values(ascending = False)

In [54]:
scores

0       1.000000
4401    0.218218
466     0.210559
495     0.188982
2995    0.188982
          ...
2459    0.000000
2460    0.000000
2461    0.000000
2462    0.000000
4802    0.000000
Length: 4803, dtype: float64

In [55]:
# list(scores.iloc[0:5].index)

In [56]:
# 第0個是自己 所以從1開始取
top_n_idx = list(scores.iloc[1:5].index)
# df_keys['title'].iloc[top_n_idx] # top_n_idx是一個陣列

In [57]:
df_keys['title'].iloc[top_n_idx]

4401                 The Helix... Loaded
466                     The Time Machine
495     Journey 2: The Mysterious Island
2995          Mad Max Beyond Thunderdome
Name: title, dtype: object